@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-tomato : hsl(4, 100%, 67%);

    --Neutral-Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Neutral-Charcoal-Grey: hsl(235, 18%, 26%);
    --Neutral-Grey: hsl(231, 7%, 60%);
    --Neutral-White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#email-message {
    font-weight: bold;
}

#icon-subs {
    width: 10%;
}

#success-subscribing, #success-icon-subscribing {
    display: none;
}

#success-subscribing {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#success-icon-subscribing {
    padding-top: 1.5rem;
    flex-direction: column;
    padding-left: 1.5rem;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#submit-btn, #dismiss-btn {
    background: var(--Neutral-Charcoal-Grey);
    color: var(--Neutral-White);
    padding: 1rem;
    margin-top: 1.25rem;
    width: 95%;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#submit-btn:hover, #dismiss-btn:hover {
    background: var(--primary-tomato);
}

figure > img#mobile-img {
    width: 100%;
}

figure > img#desktop-img {
    display: none;
}

#email-field {
    width: 95%;
    padding: 1rem;
}

#email-field:hover {
    cursor: pointer;
}

.email-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

h1 {
    font-size: 30px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 700;
}

p {
    width: 85%;
}

.checklist {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.list-product {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}

.success-icon {
    width: 6%;
}

.content {
    padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
    /* body {
        height: 100vh;
    } */
    .content {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    figure > img#mobile-img {
        display: none;
    }

    figure > img#desktop-img {
        display: block;
        padding-top: 1rem;
    }
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        
    }

    h1 {
        font-size: 70px;
    }

    section.label {
        display: flex;
        justify-content: space-between;
    }

    section.label > #error-alert{
        padding-right: 1.5rem;
        color: var(--primary-tomato);
        display: none;
    }

    #success-icon-subscribing {
        max-width: 55%;
        top: 15%;
        position: absolute;
        left: 26%;
    }
}
